# Ignore HELP.md
HELP.md

# Track the 'target' folder and 'maven-wrapper.jar'
!/target/
!/.mvn/wrapper/maven-wrapper.jar

# Ignore build folders, but don't ignore the ones in src/main and src/test
/build/
!/src/main/**/build/
!/src/test/**/build/

# Ignore STS (Spring Tool Suite) specific files and folders
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Ignore IntelliJ IDEA specific files and folders
.idea
*.iws
*.iml
*.ipr

# Ignore NetBeans specific files and folders
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
